.star {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  color: gray;
}
.star-rating {
  display: flex;
  align-items: center;
}
.star.filled {
  color: gold;
}
.star.readonly {
  cursor: default;
}
.star:not(.readonly):hover {
  transform: scale(1.3);
}

